html 
  head  
     title=data.name            
     link(rel="stylesheet", href="/output.css")
  body
      div(class="grid grid-cols-2 gap-8 max-w-4xl mx-auto mt-28")
        div
           img(src=`https://image.tmdb.org/t/p/w500${data.poster_path}`, alt="",class="w-full h-full object-cover rounded-lg")
        div
          h1(class="font-bold text-5xl")= data.name
          p(class="text-orange-700 mt-4 font-semibold")= data.vote_average
          p(class="text-gray-800 mt-4")=data.overview



          https://getintopc.com/softwares/ultraiso-premium-edition-free-download-4172712/
          https://how-to-pc.info/how-to-install-important-prerequisites-for-software-without-errors/
          
  